services:
  glances:
    container_name: glances
    image: nicolargo/glances:ubuntu-latest-full
    pid: host
    environment:
      - TZ=Europe/Dublin
      - GLANCES_OPT=-C /glances/conf/glances.conf -w
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/tank/docker/admin/glances/glances.conf:/glances/conf/glances.conf
    networks:
      - proxy
    ports:
      - 61208:61208
    dns:
      - 172.17.0.2
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.glances.entrypoints=http"
      - "traefik.http.routers.glances.rule=Host(`glances.ziejacode.com`)"
      - "traefik.http.middlewares.glances-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.glances.middlewares=glances-https-redirect"
      - "traefik.http.routers.glances-secure.entrypoints=https"
      - "traefik.http.routers.glances-secure.rule=Host(`glances.ziejacode.com`)"
      - "traefik.http.routers.glances-secure.tls=true"
      #- "traefik.http.routers.glances-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.glances-secure.service=glances"
      - "traefik.http.services.glances.loadbalancer.server.port=80"
      - "traefik.http.routers.glances-secure.middlewares=authelia@docker"

networks:
  proxy:
    external: true
